body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Prevent scrolling */
}
#choropleth {
    width: 100%; /* Full width */
    height: 100%; /* Full height */
}